# Ambiente Virtual do Python
venv/
.venv_Linux/
__pycache__/

# Chave de serviço do Firebase (MUITO IMPORTANTE)
firebase-service-account.json

# Arquivos de variáveis de ambiente
.env
.env.development
.env.test


# Arquivos de sistema operacional e IDEs
.DS_Store
.vscode/
.idea/
.github/
