.user-management-view {
  padding: 2rem;
}
.feedback-message {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #eaf6ff;
  border: 1px solid #cce5ff;
}

/* Adicione estes estilos ao seu UserManagementView.css */
.user-list-section {
  margin-top: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 0.75rem;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f9;
}

.disable-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.enable-button {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}